*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(120deg ,blueviolet , darksalmon);
  color: white;
  min-height: 900px;
}
header{
  margin: 20px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.input-group-append{
  height: 38px;
}
li{
  display: inline-block;
}
.todo-item{
  display: inline-block;
}